<!-- <p>services works!</p> -->
<div class="masthead">
  <app-header class="clearfix"></app-header>
  <div class="container" style="margin-top: 2%;">
    <div class="row text-center">
      <div class="col-xs-3">
        <figure>
          <img
            src="http://placehold.it/100?text=IMG"
            style="width: 50%;"
            alt=""
          />
          <figcaption>Hello</figcaption>
        </figure>
      </div>
      <div class="col-xs-3">
        <figure>
          <!-- <img src="http://placehold.it/100?text=IMG" style="width: 50%;" alt=""> -->
          <figcaption>Description</figcaption>
        </figure>
      </div>
      <div class="col-xs-3">
        <figure>
          <img
            src="http://placehold.it/100?text=IMG"
            style="width: 50%;"
            alt=""
          />
          <figcaption>Hello</figcaption>
        </figure>
      </div>
      <div class="col-xs-3">
        <figure>
          <!-- <img src="http://placehold.it/100?text=IMG" style="width: 50%;" alt=""> -->
          <figcaption>Description</figcaption>
        </figure>
      </div>
      <!-- <div class="col-xs-3">
            <figure>
              <img src="http://placehold.it/100?text=IMG" style="width: 50%;" alt="">
              <figcaption>Hello</figcaption>
            </figure>
          </div>
          <div class="col-xs-3">
            <figure>
              <img src="http://placehold.it/100?text=IMG" style="width: 50%;" alt="">
              <figcaption>Hello</figcaption>
            </figure>
          </div> -->
    </div>
  </div>
</div>
