<nav class="navbar navbar-default" id="custom-bootstrap-menu">
  <div
    class="container-fluid"
    style="padding-left: 0px !important;padding-right: 0px !important;"
  >
    <div class="navbar-header">
      <a routerLink="/home"
        ><img
          src="assets/logo.jpg"
          width="50"
          height="50"
          style="margin-top: 5px;
        margin-left: 5px;
        border: 1px solid gainsboro;cursor: pointer;"
      /></a>
    </div>
    <div class="collapse navbar-collapse navbar-menubuilder">
      <!-- <ul class="nav navbar-nav navbar-left">
        <li routerLinkActive="active" *ngIf="this.childMessage !== 'true'">
          
        </li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" *ngIf="this.childMessage !== 'true'">
          <a routerLink="/home">HOME</a>
        </li>
        <li routerLinkActive="active" *ngIf="this.childMessage !== 'true'">
          <a routerLink="/about">ABOUT</a>
        </li>
        <li routerLinkActive="active" *ngIf="this.childMessage !== 'true'">
          <a routerLink="/gallery">GALLERY</a>
        </li>
        <li routerLinkActive="active" *ngIf="this.childMessage !== 'true'">
          <a routerLink="/services">SERVICES</a>
        </li>
        <li routerLinkActive="active" *ngIf="this.childMessage !== 'true'">
          <a routerLink="/contactUs">CONTACT US</a>
        </li>
        <li routerLinkActive="active" *ngIf="this.childMessage !== 'true'">
          <a routerLink="/login">LOGIN</a>
        </li>
        <li
          routerLinkActive="active"
          *ngIf="this.childMessage === 'true'"
          (click)="logOut()"
          style="cursor: pointer;"
        >
          <a>LOGOUT</a>
        </li>
        <!-- <li routerLinkActive="active"><a routerLink="/register">REGISTER</a></li> -->
      </ul>
    </div>
  </div>
</nav>
