#custom-bootstrap-menu.navbar-default {
  background: #fff;
  transition: all 0.35s;
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
  font-size: 15px;
  font-family: "Lato", "Helvetica", "Arial", "sans-serif";
  letter-spacing: 1px;
  text-transform: uppercase;
  color: darkorange;
}
.menu-spacer {
  flex: 1 1 auto;
}

#custom-bootstrap-menu.navbar-default .navbar-header .navbar-brand {
  color: #ffffff;
}
.navbar-default {
  background-color: transparent !important;
  border-color: transparent;
}
.navbar-default .navbar-nav > .active > a {
  background-color: none;
}
.active {
  border-bottom: 8px solid #fb6750;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px !important;
  border: 1px solid transparent;
  background: #d9e7f4;
}
@media (max-width: 1199px) {
  #custom-bootstrap-menu .navbar-collapse.collapse {
    display: none !important;
  }
  #custom-bootstrap-menu .navbar-collapse.collapse.in {
    display: block !important;
  }
  #custom-bootstrap-menu .navbar-toggle {
    display: block !important;
  }
  #custom-bootstrap-menu .navbar-collapse {
    text-align: center;
    display: block !important;
  }
  #custom-bootstrap-menu .navbar-header {
    float: none;
    display: block !important;
  }
  #custom-bootstrap-menu .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  #custom-bootstrap-menu .navbar-nav > li {
    float: none;
  }
  #custom-bootstrap-menu .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
