.registerpanel .panel-heading {
  color: #f3674c;
}
.registerpanel {
  color: #000;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
    0 3px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}
.panel-title {
  font-size: 24px;
}
.panel-body {
  background-color: darkgrey;
}
.register-middleBorder {
  border-right: 1px solid silver;
  height: 150px;
}
/* .registerpanel .panel-heading {
      color: #0f3674c;
  }, */
.col-md-4 {
  width: 33.33333333%;
  padding-top: 10px;
}
.col-lg-1 {
  width: 8.33333333%;
  padding-top: 10px;
}
.button {
  background-color: #f3674c;
  background-image: none;
  border-color: #f3674c;
  color: white;
}
.is-danger {
  color: coral;
}
.logininfo {
  text-align: right;
}
.logininfohead {
  margin-top: -3%;
}
.logintopline {
  width: 76%;
  margin-left: -38%;
  border-top: 2px solid #eee;
  margin-top: 0px;
}
h2 {
  text-align: center;
}
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 10px auto 30px;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 19px;
  z-index: 1;
  top: 13px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit .custom-label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #3efc78;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit .upload-image {
  background: #3efc78;
}

.avatar-upload .avatar-edit .remove-image {
  background: #e91e63;
}

.avatar-upload .avatar-edit .custom-label:hover {
  opacity: 1;
}

.avatar-upload .avatar-edit .custom-label:after {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 8px;
  right: 0;
  left: 2px;
  width: 18px;
}

.avatar-upload .avatar-edit .upload-image:after {
  content: url("/assets/edit.svg");
}

.avatar-upload .avatar-edit .remove-image:after {
  content: url("/assets/close.svg");
  left: 0px !important;
}

.avatar-upload .avatar-preview {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  border: 12px solid #fff;
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
}

.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.datagrid table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
.datagrid {
  font: normal 12px/150% Arial, Helvetica, sans-serif;
  background: #fff;
  overflow: hidden;
  border: 1px solid #006699;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 1%;
}
.datagrid table td,
.datagrid table th {
  padding: 3px 10px;
}
.datagrid table thead th {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #006699),
    color-stop(1, #00557f)
  );
  background: -moz-linear-gradient(center top, #006699 5%, #00557f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
  background-color: #006699;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  border-left: 1px solid #0070a8;
}
.datagrid table thead th:first-child {
  border: none;
}
.datagrid table tbody td {
  color: #00496b;
  border-left: 1px solid #e1eef4;
  font-size: 12px;
  font-weight: normal;
}
.datagrid table tbody .alt td {
  background: #e1eef4;
  color: #00496b;
}
.datagrid table tbody td:first-child {
  border-left: none;
}
.datagrid table tbody tr {
  border: 1px solid #0070a8;
}
.datagrid table tbody tr:last-child td {
  border-bottom: none;
}
.datagrid table tfoot td div {
  border-top: 1px solid #006699;
  background: #e1eef4;
}
.datagrid table tfoot td {
  padding: 0;
  font-size: 12px;
}
.datagrid table tfoot td div {
  padding: 2px;
}
.datagrid table tfoot td ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.datagrid table tfoot li {
  display: inline;
}
.datagrid table tfoot li a {
  text-decoration: none;
  display: inline-block;
  padding: 2px 8px;
  margin: 1px;
  color: #ffffff;
  border: 1px solid #006699;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #006699),
    color-stop(1, #00557f)
  );
  background: -moz-linear-gradient(center top, #006699 5%, #00557f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
  background-color: #006699;
}
.datagrid table tfoot ul.active,
.datagrid table tfoot ul a:hover {
  text-decoration: none;
  border-color: #006699;
  color: #ffffff;
  background: none;
  background-color: #00557f;
}
div.dhtmlx_window_active,
div.dhx_modal_cover_dv {
  position: fixed !important;
}
.masthead {
  height: auto;
  min-height: 100vh;
  /* background-image: url(/assets/building.jpg); */
  background-color: ghostwhite;
  background-size: cover;
  background-position: center;
}
