.card-header {
  padding: 0px;
}
.column {
  float: left;
  padding: 5px;
}
.masthead {
  height: auto;
  min-height: 100vh;
  background-image: url(/assets/building.jpg);
  background-size: cover;
  background-position: center;
}
