<div class="masthead">
<app-header class="clearfix" [childMessage]="parentMessage"></app-header>
<div class="App">
    <div class="container">

        <div class="row" style="margin-left:0px;margin-right: 0px">

            <div class="col-md-12">
                <h2>ASSOCIATE FORM</h2>
                <div class="panel  addteacherpanel">

                    <div class="panel-body teacherpanel">
                        <!-- <form id="form" class="form-horizontal" role="form" name="studentregistrationform"> -->
                         <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">     
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="left-side-form">
                                        <!-- <div class="row">
                                            <div class="col-md-4">
                                                <label> Identity No:</label>
                                            </div>
                                            <div class="col-md-8 ">
                                                    <input type="text" formControlName="identitynumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.identitynumber.errors }"  placeholder="Identity number*" />
                                                    <div *ngIf="submitted && f.identitynumber.errors" class="invalid-feedback">
                                                        <div *ngIf="f.identitynumber.errors.required">Identity is required</div>
                                                    </div>
                                            </div>
                                        </div><br /> -->
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label> Name</label>
                                            </div>
                                            <div class="col-md-8 ">
                                                <!-- <input type="text" class="form-control form-input" name="name"
                                                    placeholder="name*" [(ngModel)]="user.name" required /> -->
                                                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Enter Name*" />
                                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                                        <div *ngIf="f.name.errors.required">Name is required</div>
                                                    </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label> Father/Husband's Name</label>
                                            </div>
                                            <div class="col-md-8 ">
                                                
                                                    <input type="text" formControlName="guardian" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.guardian.errors }" placeholder="Enter Father Name*" />
                                                    <div *ngIf="submitted && f.guardian.errors" class="invalid-feedback">
                                                        <div *ngIf="f.guardian.errors.required">Father Name is required</div>
                                                    </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>E-mail</label>
                                            </div>
                                            <div class="col-md-8 ">
                                                
                                                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Enter Email*" />
                                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                                    </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Contact Number</label>
                                            </div>
                                            <div class="col-md-8 ">
                                             
                                                    <input type="text" formControlName="mobileNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" placeholder="Enter Contact Number*" />
                                                    <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                                                        <div *ngIf="f.mobileNumber.errors.required">Contact Number is required</div>
                                                    </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Introduced By</label>
                                            </div>
                                            <div class="col-md-8 ">
                                             
                                                    <input type="text" formControlName="introducedBy" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.introducedBy.errors }" placeholder="Enter Contact Number*" />
                                                    <div *ngIf="submitted && f.introducedBy.errors" class="invalid-feedback">
                                                        <div *ngIf="f.introducedBy.errors.required">Name is required</div>
                                                    </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Employee Code</label>
                                            </div>
                                            <div class="col-md-8 ">
                                             
                                                    <input type="text" formControlName="employeeCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.employeeCode.errors }" placeholder="Enter Contact Number*" />
                                                    <div *ngIf="submitted && f.employeeCode.errors" class="invalid-feedback">
                                                        <div *ngIf="f.employeeCode.errors.required">Name is required</div>
                                                    </div>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="left-side-form">
                                        <div class="row">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Nominee Name</label>
                                                </div>
                                                <div class="col-md-8 ">
                                                    
                                                    <input type="text" formControlName="nomineeName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nomineeName.errors }" placeholder="Enter Nominee Name*" />
                                                    <div *ngIf="submitted && f.nomineeName.errors" class="invalid-feedback">
                                                        <div *ngIf="f.nomineeName.errors.required">Nominee is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Relationship with Nominee</label>
                                                </div>
                                                <div class="col-md-8 ">
                                                   
                                                    <input type="text" formControlName="nomineeRelationShip" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nomineeRelationShip.errors }" placeholder="Fill the Feild*" />
                                                    <div *ngIf="submitted && f.nomineeRelationShip.errors" class="invalid-feedback">
                                                        <div *ngIf="f.nomineeRelationShip.errors.required">Nominee is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Wedding Anniversary</label>
                                                </div>
                                                <div class="col-md-8 ">
                                                        <mat-form-field>
                                                                <input
                                                            matInput
                                                           [matDatepicker]="to"
                                                           formControlName="weddingAnniversary"
                                                          >
                                                        <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                                                          <mat-datepicker #to></mat-datepicker>
                                                        </mat-form-field>
                                                        <!-- <input type="text" formControlName="weddingAnniversary" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.weddingAnniversary.errors }" placeholder="Enter weddingAnniversary*" />
                                                        <div *ngIf="submitted && f.weddingAnniversary.errors" class="invalid-feedback">
                                                            <div *ngIf="f.weddingAnniversary.errors.required">weddingAnniversary is required</div>
                                                        </div> -->
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Address</label>
                                                </div>
                                                <div class="col-md-8">
                                                    
                                                        <textarea rows="4" cols="40" name="address"
                                                        formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" placeholder="Enter Address*"></textarea>
                                                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                                            <div *ngIf="f.address.errors.required">Address is required</div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-lg-1">
                                    <label>Occupation:</label>
                                </div>
                                <div class="col-lg-4">
                                    
                                        <input type="text" formControlName="occupation" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.occupation.errors }" placeholder="Enter Occupation*" />
                                        <div *ngIf="submitted && f.occupation.errors" class="invalid-feedback">
                                            <div *ngIf="f.occupation.errors.required">Occupation is required</div>
                                        </div>
                                </div>
                                <div class="col-lg-1">
                                    <label>D.O.B</label>
                                </div>
                                <div class="col-lg-3">
                                        <mat-form-field>
                                                <input
                                            matInput
                                           [matDatepicker]="dob"
                                           formControlName="dob"
                                          >
                                        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                                          <mat-datepicker #dob></mat-datepicker>
                                        </mat-form-field>
                                    <!-- <input type="text" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" placeholder="MM/DD/YYYY" />
                                    <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                        <div *ngIf="f.dob.errors.required">DOB is required</div>
                                    </div> -->
                                </div>
                                <div class="col-lg-1">
                                    <label>Age:</label>
                                </div>
                                <div class="col-lg-2">
                                    
                                        <input type="text" formControlName="age" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.age.errors }" placeholder="Enter Age" />
                                        <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
                                            <div *ngIf="f.age.errors.required">Age is required</div>
                                        </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-1">
                                    <label>Designation</label>
                                </div>
                                <div class="col-lg-4">
                                 
                                        <input type="text" formControlName="designation" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.designation.errors }" placeholder="Enter Desgnation" />
                                        <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                                            <div *ngIf="f.designation.errors.required">Designation is required</div>
                                        </div>
                                </div>
                                <div class="col-lg-1">
                                    <label>Telephone:</label>
                                </div>
                                <div class="col-lg-2">
                                   
                                        <input type="text" formControlName="telephone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }" placeholder="Enter Telephone" />
                                        <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                                            <div *ngIf="f.telephone.errors.required">Telephone is required</div>
                                        </div>
                                </div>
                              
                            </div>
                            <br />
                            <hr />

                            <div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="left-side-form">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Bank Name</label>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <!-- <input type="text" class="form-control form-input" id="" name="bankname"
                                                        placeholder="Enter Bank Name*" required /> -->
                                                        <input type="text" formControlName="bankName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bankName.errors }" placeholder="Enter Bank Name" />
                                                        <div *ngIf="submitted && f.bankName.errors" class="invalid-feedback">
                                                            <div *ngIf="f.bankName.errors.required">Bank Names</div>
                                                        </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Bank A/C No:</label>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <!-- <input type="text" class="form-control form-input" id=""
                                                        name="accno" placeholder="xxxxxxxxx*" required /> -->
                                        <input type="text" formControlName="bankAccountNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bankAccountNumber.errors }" placeholder="Enter the Bank A/C" />
                                        <div *ngIf="submitted && f.bankAccountNumber.errors" class="invalid-feedback">
                                            <div *ngIf="f.bankAccountNumber.errors.required">Bank A/C is required</div>
                                        </div>
                                                </div>
                                            </div> <br />
                                            <div class="row">
                                                    <div class="col-md-4">
                                                        <label>IFSC Code:</label>
                                                    </div>
                                                    <div class="col-md-8 ">
                                                        <!-- <input type="text" class="form-control form-input" id=""
                                                            name="ifsccode" placeholder="Enter IFSC Code*" required /> -->
                                            <input type="text" formControlName="ifscCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ifscCode.errors }" placeholder="Enter IFSC Code" />
                                            <div *ngIf="submitted && f.ifscCode.errors" class="invalid-feedback">
                                                <div *ngIf="f.ifscCode.errors.required">IFSC Code is required</div>
                                            </div>
                                                    </div>
                                                </div>
                                               
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="right-side-form">
                                            
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Pan Card No:</label>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <!-- <input type="text" class="form-control form-input" id=""
                                                        name="pancard" placeholder="Enter PAN Card Number*" required /> -->
                                                        <input type="text" formControlName="panCardNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.panCardNumber.errors }" placeholder="Enter IFSC Code" />
                                                        <div *ngIf="submitted && f.panCardNumber.errors" class="invalid-feedback">
                                                            <div *ngIf="f.panCardNumber.errors.required">Pan Card is required</div>
                                                        </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Aadhar No:</label>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <!-- <input type="text" class="form-control form-input" id=""
                                                        name="aadharno" placeholder="Aadhar number*" required /> -->
                                                        <input type="text" formControlName="aadharNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.aadharNumber.errors }" placeholder="Enter Aadhar No" />
                                                        <div *ngIf="submitted && f.aadharNumber.errors" class="invalid-feedback">
                                                            <div *ngIf="f.aadharNumber.errors.required">Aadhar Number required</div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row applystyle">
                                    <div class="col-lg-6" style="text-align: right;">
                                        
                                            <button id="btn-reset" type="reset" class="btn button"(click)="onCancel()"> Cancel</button>
                                        
                                    </div>
                                    <div class="col-lg-6" style="text-align: left;">
                                            <button id="btn-Register" type="submit" name="submit" class="btn btn-success">Submit</button></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>